/***************************NavBar***********************************/
.rearchBar{
    width: 300 px;
}
svg{
    width: 20px;
    height: 20px;
 
}


/************************end*********************************/
.one{
    width: 25%;
    height: 40%;
    margin: 3%;
    display: inline-block;
  
}
.one:hover .image{
    transform:scale(1.05);
    opacity: 1.8;
    border:rgb(37, 36, 36) 1px solid;
}
.Card.Img{
width:100px;
height: 100px;
}
/*******************************************inscription page************************************/
.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
    }
    .card2{
        border-radius: 15px;
    }
    .img22{
        background-image: url('../images/fond.jpg');
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
    }
    /*******************************************connexion page**************************/
  .pConnexion{
    color: hsl(218, 81%, 85%);
  }
  .spanConnexion{
    color: hsl(218, 81%, 75%);
  }
  .h1Connexion{
    color: hsl(218, 81%, 95%);
  }
  .divConnexion{
    z-index: 10;
  }
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
/**************************adminInterface************************/
.menu, .cat{
  box-shadow:  -0.5px 2px 2px 2px rgb(58, 57, 57); 
  margin: 0px 10px 100px 10px;
  padding: 20px;
  grid-row: 2/3; 

}
.boutton{
  padding:10px;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  background-color: rgb(31, 32, 78);
  color:aqua;
  
}
.boutton:hover{
  background-color: gray;
  color: white;
  font-size: larger;
}
h3{
  padding: 20px;
  color: rgb(31, 32, 78);
  text-shadow: 0 2px 2px aqua, 0 -2px 3px aqua;
  text-align: center;
  grid-row: 1/2;
  grid-column: 2/8;

}
.containerAdmin{
  display:grid;
  height: 100vh;
  width: calc(50vW - 10px);
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 12;
}
.cat{

  grid-column: 2/3;
}
.menu{

  grid-column: 3/6;
}

